<div class="container">

  <%= form_with(model: applicant, local: true) do |form| %>
  <% if applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

    <div class="form form-signin">

      <div class="row">

        <div class="panel panel-default">

            <div class="panel-body">

              <div class="form-group">

                    <div class="form-group">
                      <%= form.label :first_name %>
                      <%= form.text_field :first_name, id: :applicant_first_name , class:"form-control", required:"required", placeholder:"First Name"%>
                    </div>

                    <div class="form-group">
                      <%= form.label :last_name %>
                      <%= form.text_field :last_name, id: :applicant_last_name , class:"form-control", required:"required", placeholder:"Last Name"%>
                    </div>

                    <div class="form-group">
                      <%= form.label :region %>
                      <div class="form-select">

                           <%= form.select :region, options_for_select(Applicant::REGION, @applicant.region),{ },class: "form-control",required:"required" %>
                      </div>
                      
                    </div>

                    <div class="form-group">
                      <%= form.label :phone %>
                      <%= form.text_field :phone, id: :applicant_phone , class:"form-control", required:"required", placeholder:"Mobile Number"%>
                    </div>

                    <div class="form-group">
                      <%= form.label :email %>
                      <%= form.text_field :email, id: :applicant_email, class:"form-control", placeholder: "Email", type:"email", required:"required"%>
                    </div>

                    <div class="form-group">
                      <p>
                        Phone type
                      </p>
                      <div class="form-select">
                          <%= form.select :phone_type, options_for_select(Applicant::PHONE_TYPE, @applicant.phone_type),{ },class: "form-control",required:"required" %>

                        </div>
                      </div>

                    <div class="form-group">
                      <%= form.label :source %>
                      <%= form.text_field :source, id: :applicant_source , class:"form-control", placeholder:"Source"%>
                    </div>

                    <div class="form-group">
                      <%= form.label :reason %>
                      <%= form.text_field :reason, id: :applicant_reason , class:"form-control", placeholder:"Reason"%>
                    </div>

                    

              </div>
            </div>
        </div>
          <div class="row text-center">
            <%= form.button content_for(:form_button),class: "btnApply" %>
            
          </div>
      </div>
    </div>
  </div>


<% end %>


</div>
